<div class="left-nav">
  <div class="left-title"><i class="fa fa-compress bold" aria-hidden="true"></i><div class="left-menu">BaliHalus</div></div>

  <div class="left-items">
    <button class="left-button <%= page=='Dashboard' ? ` left-button-selected` : `` %>" onclick="javascript:location.href= '/baliHalus/admin/dashboard'"><i class="fa fa-home icon" aria-hidden="true"></i><div class="left-menu">Dashboard</div></button>
    <button class="left-button <%= page=='Users' ? ` left-button-selected` : `` %>" onclick="javascript:location.href= '/baliHalus/admin/users'"><i class="fa fa-users icon" aria-hidden="true"></i><div class="left-menu">Users</div></button>
    <button class="left-button <%= page=='Store Branchs' ? ` left-button-selected` : `` %>" onclick="javascript:location.href= '/baliHalus/admin/branchs'"><i class="fa fa-building icon" aria-hidden="true"></i><div class="left-menu">Store Branches</div></button>
    <button class="left-button <%= page=='Reservations' ? ` left-button-selected` : `` %>" onclick="javascript:location.href= '/baliHalus/admin/reservations'"><i class="fa fa-shopping-bag icon" aria-hidden="true"></i><div class="left-menu">Reservations</div></button>
    <button class="left-button <%= page=='Services' ? ` left-button-selected` : `` %>" onclick="javascript:location.href= '/baliHalus/admin/services'"><i class="fa fa-bath icon" aria-hidden="true"></i><div class="left-menu">Services</div></button>
    <button class="left-button <%= page=='Add On' ? ` left-button-selected` : `` %>" onclick="javascript:location.href= '/baliHalus/admin/addons'"><i class="fa fa-cubes icon" aria-hidden="true"></i><div class="left-menu">Add Ons</div></button>
    <button class="left-button <%= page=='Variants' ? ` left-button-selected` : `` %>" onclick="javascript:location.href= '/baliHalus/admin/variant'"><i class="fa fa-archive icon" aria-hidden="true"></i><div class="left-menu">Variants</div></button>
  </div>
</div>